/* .chart{
    width: 80vw;
    height: 60vh;
} */
/* 
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f9;
} */

.chart-container {
    width: 70%;        /* Control the width of the chart */
    max-width: 800px;  /* Set a maximum size */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}